/*
#password {
  height: 30px;
  font-size: 17px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
} */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
    background-color: #2596be;
  }

  .right {
    right: 0;
    background-color: #FFFFFF;
  }
  body {
      font-family: 'Roboto Mono', monospace;
      font-size: 15px;
      color: #333333;
      /* margin-left: 3%; */
      background-color: #FFFFFF;
  }

  /* table {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
  } */

  #firstname,#lastname,#email,#password,#password2 {
      height:13px;
  }

  label {
      font-weight: bold;
  }

  #lefttext {
      border: 5px solid white;
      margin-left:7%;
      margin-right:7%;
      margin-top: 30%;
      font-size: 1.6em;
      text-align: center;
      font-family: 'Maven Pro', sans-serif;
      color: white;
  }



  ::-webkit-scrollbar
  {
      width: 8px;
  }

  ::-webkit-scrollbar-thumb
  {
      background: #aaaaaa;
      border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover
  {
      background: #717171;
  }


  #dob{
      font-size: 12px;
      color: #333333;
      height: 14px;
      width: 211px;
      text-indent: 5px;
  }

  /* .m,.f,.o{
      font-size: 18px;
  } */

  /* .container1 {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      float: left;
      height: 713px;
      width: 80px;
  } */

  .block2 {
      position: sticky;
      /* width: 500px;
      height: 1000px; */
      height: 100%;
      width: 100%;
      /* background: #2596be; */
      box-sizing: border-box;
      /* margin: 0px; */
      padding: none;
  }

  .container2{
      display:flex;
      align-items: center;
      justify-content: center;
        float: right;
        margin-right: 160px;
  }

  .box1{
      position: sticky;
      width: 25em;
      height: auto;
      padding: 20px 80px 20px 80px;
      margin-top: 17%;
      margin-bottom: 1%;

      background: #f5f5f5;
      border-radius: 40px;
      box-sizing: border-box;
      box-shadow: 0px 5px 25px rgb(0 0 0 / 0.4);

  }

  /* textarea {
      font-family: 'Roboto Mono', monospace;
      border-radius: 8px;
      background-color: #3a3b40;
      font-size: 17px;
      padding: 10px;
      color: #99aab5;
      border: none;
      margin-top: 8px;
  } */

  button {
      position: absolute;
      width: 216px;
      height: 50px;

      font-family: sans-serif;
      font-size: 18px;
      background: #2596be;
      color: #F1F1F1;
      border-radius: 6px;
      border: none;
      cursor: pointer;
  }

  button:hover {
      background: #1d7999;
      transition-duration: 0.2s;
  }

  input[type=text],[type=email],[type=password] {
      width: 16em;
  }

  input {
      font-family: 'Roboto Mono', monospace;
      font-size: 13px;
      font-weight: bold;
      text-indent: 6px;
      /* background-color: #cbcbcd; */
      border-radius: 8px;
      border: 1px solid grey;
      color: black;
      margin-top: 8px;
      margin-bottom: 12px;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      transition: all 0.25s ease-in-out;
  }

  input:focus {
      outline: none;
      border: 1px solid #eff5f2;
      background-color: #dfebf0;
  }

  #password, #password2 {
      padding-right: 32px;
      width: 178px;
  }

  i {
      margin: -30px;
      cursor: pointer;
  }

  #login{
      font-size: inherit;
      color: white;
      font-weight: bold;
  }
